Source: theme-nocturne
Section: themes
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: theme-nocturne
Section: themes
Architecture: all
XBSC-Group: Dark
Description: Nocturne theme
 A dark theme ideal for programming at 
 three o'clock in the morning with the lights 
 turned off.



